<% "use strict" %> 
<tr>
    <td><%= time_month %>月<%= time_date %>日<%= time_hours %>時<%= time_minutes %>分<%= time_seconds %>秒</td>
    <th><a href="/boards/home/<%= val.User.name %>/<%= val.userId %>/0"><%= val.User.name %></a></th>
    <td><%= val.message %></td>
</tr>