<% "use strict" %> 
<tr>
    <td><%= time_month %>月<%= time_date %>日<%= time_hours %>時<%= time_minutes %>分<%= time_seconds %>秒</td>
    <th><%= val.User.name %></th>
    <td><%= val.message %></td>
</tr>